<div class="container">
    <h3>搬磚程式 Portal</h3>
    <div class="row bg-secondary text-white">
        <div id="message" class="col-12" style="height: 400px; overflow: scroll">
            <%= @messages %>
        </div>
        <div class="col-12 text-center">
            <a href="#" class="btn btn-primary" id="start-service">啟動服務</a>
            <a href="#" class="btn btn-danger ml-3" id="end-service">停止服務</a>
        </div>
    </div>
</div>
<script>
$("#start-service").click(function(){
    $.ajax({
        type: "POST",
        url: "/start_service",
        success: function(res){
            
        }
    })
})
$("#end-service").click(function(){
    $.ajax({
        type: "POST",
        url: "/end_service",
        success: function(res){
            $("#message").append(`<p class="mb-0 text-danger">Service Stop!</p>`)
        }
    })
})
</script>